.o-teaser-collection
  h2.o-teaser-collection__heading Viewing results #{index}-#{pagination.nextIndex} of #{pagination.totalResults}
  .o-grid-container
    each result in results
      .o-grid-row
        .o-teaser.o-teaser--small(data-o-component='o-teaser')
          .o-teaser__content
            .o-teaser__meta
              a.o-teaser__tag(href=result.location.uri) #{result.editorial.byline}
            h2.o-teaser__heading
              a(href=result.location.uri) #{result.title.title}
            p.o-teaser__standfirst
              a(href=result.location.uri)
                | #{result.editorial.subheading}
            .o-teaser__timestamp
              time.o-teaser__timestamp-date(data-o-component='o-date' datetime=result.lifecycle.lastPublishDateTime) #{result.lifecycle.lastPublishDateTime}
include pagination.pug
